@font-face {
      src : url("../../fonts/Cafe24Dongdong.ttf");
      font-family: "Dongdong"
}
@font-face {
      src : url("../../fonts/Cafe24Behappy.ttf");
      font-family: "Behappy"
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

*{
    margin:0;
    padding:0;
    position: relative;
    font-family: ‘Behappy’, 'Dongdong', sans-serif;
    -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
html, body{
    width: 100%;
    height: 100%;
    position:fixed;
    overflow: hidden;
  }
  
a {color: black;text-decoration: none;outline: none;}
div, p {color:black; cursor:default;}
a:hover, a:active {text-decoration: none; color:black;}

/* HEADER */
#header{
    position: fixed;
    top:3vw;
    display: flex;
    width:100%;
    height: 100px;
    text-align: center;
    font-size: 1.7vw;
    z-index:1;
}
#header a{
    margin:0 1vw;
    color: white;
}
#header a:hover{
	color:#8000ff;
}
#header a img{
    position:fixed;
    margin: 0 auto;
    top:0.4vw;
    left:0;
    right:0;
    width: 9vw;
    border-radius: 4.5vw;
}

.header-left{
    margin-left:23vw;
    text-shadow: -0.1vw 0 black, 0 0.1vw black, 0.1vw 0 black, 0 -0.1vw black;
}
.header-right{
    margin-left: 8.5vw;
    text-shadow: -0.1vw 0 black, 0 0.1vw black, 0.1vw 0 black, 0 -0.1vw black;
}


/* BODY */
#body__container{
    background-image: url("../../img/background/background8.jpg");
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
#container__frame{
    position: absolute;
    top: -2vw;
    bottom: 0;
    left: 10vw;
    width: 28vw;
    height: 28.5vw;
    margin: auto 0;
    padding: 2vw;
    font-weight: 600;
    background-color: rgb(179 190 238 / 80%);

}
table, tr, td{
    border: 0.1vw solid white;
    font-size: 1.2vw;
    height: 3.5vw;
    text-align: center;
    width: 15vw;
}
tr td:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 100%;
}
.info_table{
    width: 100%;
    height: 100%;
    border: 0.5vw solid white;
}
.update_txt input{
	background: rgba(255,255,255,40%);
    border: none;
    width: 100%;
    height: 100%;
    text-align: center;
}
.txtBox{
    width: 15vw;
    height: 2.5vw;
    font-size: 1vw;
    padding-top: 0.35vw;
}
#genderTr input{
    width:2vw;
}

.alert{
    width: 100%;
    height: 2vw;
    opacity: 0.9;
}
.alert td{
	height: 2vw;
}
.alert input{
	color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1vw;
}
#success{
	background-color: green;
}
#danger{
	background-color: red;
}
.info_btn{
    text-align: center;
}
#reset, #edit, #back{
	width: 7vw;
    height: 3vw;
    border-radius: 1vw;
    color: black;
    background: rgb(181 146 236 / 30%);
    margin-left: 1vw;
    margin-top: 1vw;
    font-size: 0.8vw;
    cursor: pointer;
}
.info_btn input:hover{
	background-color: red;
}






/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
@media screen and (max-width:1023px) {
/* 타블렛 */
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* 모바일 */
@media screen and (max-width:767px) {
	

	}
	
	
	