@font-face {
      src : url("../../fonts/Cafe24Dongdong.ttf");
      font-family: "Dongdong"
}
@font-face {
      src : url("../../fonts/Cafe24Behappy.ttf");
      font-family: "Behappy"
}
@font-face {
      src : url("../../fonts/Cafe24Ssukssuk.ttf");
      font-family: "Ssukssuk"
}

*{
    margin:0;
    padding:0;
    position: relative;
    font-family: ‘Behappy’, 'Dongdong', sans-serif;
    -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
html, body{
    width: 100%;
    height: 100%;
    position:fixed;
    overflow: hidden;
  }

a {color: black;text-decoration: none;outline: none;}
div, p {color:black; cursor:default;}
a:hover, a:active {text-decoration: none; color:black;}

/* HEADER */
#header{
    position: fixed;
    top:3vw;
    display: flex;
    width:100%;
    height: 100px;
    text-align: center;
    font-size: 1.7vw;
    z-index:1;
}
#header a{
	color:white;
    margin:0 1vw;
}
#header a:hover{
	color:#8000ff;
}
#header a img{
    position:fixed;
    margin: 0 auto;
    top:0.4vw;
    left:0;
    right:0;
    width: 9vw;
    border-radius: 4.5vw;
}

.header-left{
    margin-left:23vw;
    text-shadow: -0.1vw 0 black, 0 0.1vw black, 0.1vw 0 black, 0 -0.1vw black;
}
.header-right{
    margin-left: 8.5vw;
    text-shadow: -0.1vw 0 black, 0 0.1vw black, 0.1vw 0 black, 0 -0.1vw black;
}


/* BODY */
#body__container{
    background-image: url("../../img/background/background7.jpg");
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
#tableContainer{
	position: absolute;
    top: 11vw;
    left: 10vw;
    width: 55vw;
    height: 32vw;
    margin: auto 0;
    background-color: white;

}
#tableContainer table,th, td{
    border: 0.1vw solid;
    text-align: center;
    font-size: 1.1vw;
    font-family: 'Ssukssuk';
}
.form-txt{
	display: block;
  	width: 100%;
  	height: 3.4vw;
  	padding: 0.6vw 1.2vw;
	font-size: 1.4vw;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 0.1vw solid #ccc;
	border-radius: 0.4vw;
  -webkit-box-shadow: inset 0 0.1vw 0.1vw rgba(0, 0, 0, .075);
          box-shadow: inset 0 0.1vw 0.1vw rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
tbody{
	border-top: 0.15vw solid black;
	background-color: white;
}
.table thead tr{
	    background-color: #c8c8c8;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #eaeaea;
}
.table input{
	height: 2.5vw;
}
.table textarea{
	height: 24.5vw;
}
.table tbody tr:nth-child(4) td{
	height: 21.5vw;
}
.table tbody tr:nth-child(4) td:nth-child(1){
	display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.inputBtn{
	display: inline-block;
	padding: 0.6vw 1.2vw;
	margin-bottom: 0;
	margin-right: 1vw;
    margin-top: -0.7vw;
	font-size: 0.4vw;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: white;
	background-color:black;
	background-image: none;
	border: 0.1vw solid transparent;
	border-radius: 0.4vw;
}
.inputBtn:hover {
	background-color: #515050; 
}

#viewBtnBox{
	font-size: 1vw;
    display: flex;
    justify-content: center;
    margin-left: 12vw;
}
.writeBtn{
	margin:0 2vw;
}
.writeBtn:hover{
	color: #ffffff;
}






/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
@media screen and (max-width:1023px) {
/* 타블렛 */
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* 모바일 */
@media screen and (max-width:767px) {
	

	}
	
	
	