@font-face {
      src : url("../fonts/Cafe24Dongdong.ttf");
      font-family: "Dongdong"
}
@font-face {
      src : url("../fonts/Cafe24Behappy.ttf");
      font-family: "Behappy"
}
@font-face {
      src : url("../fonts/Cafe24Ssukssuk.ttf");
      font-family: "Ssukssuk"
}
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

*{
    margin:0;
    padding:0;
    position: relative;
    font-family: ‘Behappy’, 'Dongdong', sans-serif;
    -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
html, body{
    width: 100%;
    height: 100%;
    position:fixed;
    overflow: hidden;
  }
  
a {color: black; text-decoration: none; outline: none}
div, p {color:black; cursor:default;}
a:hover, a:active {text-decoration: none; color:black;}

/* HEADER */
#header{
    position: fixed;
    top:3vw;
    display: flex;
    width:100%;
    height: 100px;
    text-align: center;
    font-size: 1.7vw;
}
#header a{
    margin:0 1vw;
}
#header a:hover{
	color:#8000ff;
}
#header a img{
    position:fixed;
    margin: 0 auto;
    top:0.4vw;
    left:0;
    right:0;
    width:9.0vw;
    border-radius: 4.5vw;
}

 .header-left{
    margin-left:23vw;
    text-shadow: -0.1vw 0 white, 0 0.1vw white, 0.1vw 0 white, 0 -0.1vw white;
}
.header-right{
    margin-left: 8.5vw;
    text-shadow: -0.1vw 0 white, 0 0.1vw white, 0.1vw 0 white, 0 -0.1vw white;
} 


/* BODY */
#bodyContainer{
    background-image: url("../img/background/background3.jpg");
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-position-y: bottom;
    z-index: -9999;
}
#body--ContentsBox{
    position: absolute;
    top: 7.5vw;
    bottom:1vw;
    right:10vw;
    left:10vw;
    background: rgba(255, 255, 255, 0.4);
    border: 1px dotted black;
    border-radius: 4vw;
}
.contentsSubject{
    font-size: 1.5vw;
    font-weight: 700;
    text-align: center;
    margin-bottom: -0.5vw;
    text-shadow: -0.15vw 0 white, 0 0.15vw white, 0.15vw 0 white, 0 -0.15vw white;
}
#contentsBox--drama{
    position: absolute;
    top: 1vw;
    bottom: 1vw;
    left: 2vw;
    right: 45vw;
}
#contentsBox--movie{
    position: absolute;
    top: 1vw;
    bottom: 1vw;
    left: 45vw;
    right: 2vw;
}
.contentsBox--contentsContainer{
    width: 100%;
    height: 93%;
    margin-top: 1vw;
    overflow-y: auto;
    padding: 0 4.7vw;
    margin-left: -4.7vw;
}
.contentsBox--contentsContainer::-webkit-scrollbar{
    background:none;
}


.drama{
    width:100%;
    height:20vw;
    margin-bottom: 1vw;
    background-color: rgba(188, 213, 252, 0.7);
    border: 2px solid rgb(117, 117, 230);
    border-radius: 2vw;
    font-size: 1.1vw;
}
.movie{
    width:100%;
    height:20vw;
    margin-bottom: 1vw;
    background-color: rgba(209, 209, 255, 0.7);
    border: 2px solid rgb(151, 117, 230);
    border-radius: 2vw;
    font-size: 1.1vw;
}
.contents__topBox{
    height: 60%;
    display: flex;
    margin-top: 0.5vw;
}
.contents__imgBox{
    width:17vw;
    height: 100%;
    text-align: center;
}
.contents__imgBox img{
    width:90%;
    height: 90%;
    margin-top: 5%;
}
.contents__desBox1{
    width: 18vw;
    margin-left: -2vw;
}
.contents__desBox1 div{
    text-align: center;
    margin-top: 0.7vw;
}
.contents__desBox__title{
    font-size: 1.8vw;
    font-weight: 700;
    text-align: center;
}
.contents__desBox__title p{
	font-family: "Nanum Gothic";
}
.contents__desBox__role{
    font-size: 1vw;
}
.contents__desBox__info{
    display: flex;
    font-size: 0.9vw;
    padding-bottom: 0.5vw;
    justify-content: center;
    border-bottom: 0.1vw solid black;
}
.contents__desBox__info p{
    margin: 0 1vw;
}
.contents__desBox__report{
    font-size: 1vw;
    display: flex;
    height: 4.5vw;
    align-items: center;
    margin: 0.5vw;
}
.contents__desBox__report p{
	font-family: "Ssukssuk";
}
/* DRAMA - 호텔델루나 */
.drama__07 img{
    width:60%;
}
.drama__07 .contents__desBox__role{
    font-size: 1.1vw;
}
/* DRAMA - 달의 연인 보보경심 려 */
.drama__05 .contents__desBox__title{
    font-size: 1.4vw;
}
/* DRAMA - 프로듀사 */
.drama__04 .contents__desBox__role{
    font-size: 1.1vw;
}
/* DRAMA - 최고다 이순신 */
.drama__02 img{
    width:60%;
}
/* DRAMA - 드림하이 */
.drama__01 img{
    width:60%;
}

/* MOVIE - 드림 */
.movie__05 img{
    width: 70%;
}
/* MOVIE - 아무도 없는 곳 */
.movie__04 img{
    width: 60%;
}
.movie__04 .contents__desBox__report{
    display: grid;
}
/* MOVIE - 페르소나 */
.movie__03 img{
    width: 60%;
}
.movie__03 .contents__desBox__report{
    display: grid;
    text-align: center;
}
/* MOVIE - 새미의 어드벤쳐2 */
.movie__02 img{
    width: 60%;
}
/* MOVIE - 초대받지 못한손님 */
.movie__01 .contents__desBox__title{
    font-size: 1.6vw;
}






/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
@media screen and (max-width:1023px) {
/* 타블렛 */
#header{
    font-size: 3vw;
    color: white;
    background-color: rgb(255 255 255 / 50%);
    padding-top: 6vw;
    margin-top: -6vw;
    height: 7vw;
    top:4vw;
}
#header a{
	color: white;
}
#header a img {
    width: 11vw;
}
.header-left {
	margin-left: 9.5vw;
    text-shadow: -0.25vw 0 black, 0 0.25vw black, 0.25vw 0 black, 0 -0.25vw black;
}
.header-right {
    text-shadow: -0.25vw 0 black, 0 0.25vw black, 0.25vw 0 black, 0 -0.25vw black;
}
#bodyContainer{
    background-image: url("../img/background/T-background3.jpg");
	background-position-x: -10vw;
    background-position-y: 0vw;
    background-size: cover;
}
#body--ContentsBox {
    top: 14.5vw;
    bottom: 4vw;
    right: 3vw;
    left: 3vw;
    border: 0.2vw dotted black;
    border-radius: 5vw;
}
#contentsBox--drama {
    right: 55vw;
}
#contentsBox--movie {
    left: 56vw;
    right: 0vw;
}
.contentsSubject {
    font-size: 2.5vw;
    text-shadow: -0.25vw 0 white, 0 0.25vw white, 0.25vw 0 white, 0 -0.25vw white;
}
.movie {
    height: 24vw;
}
.drama{
	height: 24vw;
}
.contents__desBox1 div {
    margin-top: 0.5vw;
}
.contents__desBox__title {
    font-size: 2.2vw;
}
.contents__desBox__genre p{
	font-size: 1.6vw;
}
.contents__desBox__name p{
	font-size: 1.6vw;
}
.contents__desBox__role p{
	font-size: 1.6vw;
}
.contents__desBox__info {
    font-size: 1vw;
    margin-top: 0.5vw;
}
.contents__desBox__report {
    font-size: 1.5vw;
    height: 5.5vw;
}
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* 모바일 */
@media screen and (max-width:767px) {
/* 모바일 HEADER */
#header{
    display: block;
    font-size: 5vw;
    font-weight: 700;
    top: 0vw;
    background-color: rgb(255 255 255 / 30%);
    padding: 5vw 0 1vw;
}
#header a {
    margin: 0 5vw;
    color:white;
}
.header-left {
	width:100%;
    margin-left: 0;
    text-shadow: -0.4vw 0 black, 0 0.4vw black, 0.4vw 0 black, 0 -0.4vw black;
}
.header-right {
	width:100%;
    margin-left: 0;
    text-shadow: -0.4vw 0 black, 0 0.4vw black, 0.4vw 0 black, 0 -0.4vw black;
}

#header a img {
    position: relative;
    margin: 1vw auto;
    width: 12vw;
    border-radius: 4.5vw;
}

/* 모바일 BODY */
#bodyContainer{
    background-image: url("../img/background/M-background3.jfif");
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
#body--ContentsBox {
    position: relative;
    top: 65.4vw;
    left: 5vw;
    width: 89vw;
    height: 110vw;
    overflow: auto;
}
.contentsBox--contentsContainer {
    display: flex;
}
.contentsSubject {
    font-size: 4vw;
    margin-top: 1vw;
}
.contents__topBox {
    height: 28vw;
}
.contents__imgBox {
    width: 34vw;
}
.contents__desBox1 {
    width: 30vw;
    margin-left: 0vw;
    font-size: 3vw;
}
.contents__desBox__title {
    font-size: 3.6vw;
}
.contents__desBox__genre {
    font-size: 2.7vw;
}
.contents__desBox__name {
    font-size: 2.7vw;
}
.contents__desBox__role {
    font-size: 2.7vw;
}
.contents__desBox__info {
    font-size: 2.1vw;
}
.contents__desBox__report {
    height: 10.5vw;
    font-size: 2.5vw;
}




/* Drama */
.drama {
    width: 100%;
    height: 45vw;
    margin: 0 3vw 1vw;
    background-color: rgb(235 195 195 / 45%);
    border: 2px solid rgb(230 117 117);
    
}
#contentsBox--drama {
    position: relative;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

/* Movie */
.movie {
    width: 100%;
    height: 45vw;
    margin: 0 3vw 1vw;
    background-color: rgba(209, 209, 255, 0.45);
}
#contentsBox--movie {
    position: relative;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

/* etc */
.drama__07 .contents__desBox__role{
    font-size: 2.7vw;
}
.drama__05 .contents__desBox__title{
    font-size: 3.6vw;
}
.drama__04 .contents__desBox__role{
    font-size: 2.7vw;
}


}
	
	
	