@font-face {
      src : url("../fonts/Cafe24Dongdong.ttf");
      font-family: "Dongdong"
}
@font-face {
      src : url("../fonts/Cafe24Behappy.ttf");
      font-family: "Behappy"
}

/* COMMON */
*{
    margin:0;
    padding:0;
    position: relative;
    font-family: ‘Behappy’, 'Dongdong', sans-serif;
   -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
html, body{
    width: 100%;
    height: 100%;
  }


/* BODY */
#bodyContainer{
    background-image: url("../img/background/background5.jpg");
    min-height: 100%;
    background-size: cover;
    background-position-x: -3vw;
    background-repeat: no-repeat;
}


.modal{
    position:absolute; 
    top:0; 
    left:0; 
    width:100%; 
    height:100%;
    background: rgba(0,0,0,0.8); 
}
.modalBox{
	width: 100%;
    height: 100%;
}

.modal__title{
    height: 15vw;
    display: flex;
    place-content: center;
}
.contents__img{
    width: 12vw;
    height: 12vw;
    margin-left: 12vw;
    align-self: center;
}
.contents__img img{
    width:100%;
    border-radius: 6vw;
    border : 0.01vw solid rgb(223, 222, 222);
}
.modal__contents__title{
    color: white;
    width: 13.5vw;
    margin-top: -1vw;
    font-size: 2vw;
    text-align: center;
    align-self: center;
}
.modal__contents__title p {
    margin-top:1vw;
}
.modal__contents{
    position: absolute;
    top: 16vw;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2vw 0 0 0;
    overflow-x: hidden;
    overflow-y: auto;
}
.modal__contents::-webkit-scrollbar{
	background: none;
}
.modal__contents__video{
    position: relative;
    width: 19.5vw;
    height: 11vw;
    margin: 1vw 1.5vw;
}
.modal__contents__video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}






/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* 타블렛 */
@media screen and (max-width:1023px) {
#bodyContainer{
    background-image: url("../img/background/T-background5.jpg");
	background-position: center;
    background-size: cover;
    background-repeat-y: no-repeat;
}
.modal__title {
    height: 25vw;
}
.contents__img {
    width: 16vw;
    height: 16vw;
}
.contents__img img {
    border-radius: 9vw
}
.modal__contents__title {
    font-size: 3.5vw;	
}
.modal__contents {
    top: 23vw;
}	
.modal__contents__video {
    width: 38vw;
    height: 21vw;
    margin: 3vw 3.5vw;
}

}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* 모바일 */
@media screen and (max-width:767px) {

#bodyContainer{
    background-image: url("../img/background/M-background5.jfif");
    min-height: 100%;
    background-size: cover;
    background-position-x: -3vw;
    background-repeat: no-repeat;
}
.modal__title {
    height: 45vw;
}
.contents__img {
    width: 36vw;
    height: 36vw;
    margin-left: 28vw;
}
.contents__img img {
    border-radius: 21vw;
}
.modal__contents__title {
    width: 30vw;
    font-size: 6vw;
}
.modal__contents {
    top: 45vw;
}
.modal__contents__video {
    width: 83vw;
    height: 46vw;
    margin: 7vw 1.5vw;
}

}