@font-face {
      src : url("../fonts/Cafe24Dongdong.ttf");
      font-family: "Dongdong"
}
@font-face {
      src : url("../fonts/Cafe24Behappy.ttf");
      font-family: "Behappy"
}
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

*{
    margin:0;
    padding:0;
    position: relative;
    font-family: ‘Behappy’, 'Dongdong', sans-serif;
    -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
html, body{
    width: 100%;
    height: 100%;
    position:fixed;
    overflow: hidden;
  }

a {color: white; text-decoration: none; outline: none;}
div, p {color:white;}
a:hover, a:active {text-decoration: none; color:black;}

/* HEADER */
#header{
    position: fixed;
    top:3vw;
    display: flex;
    width:100%;
    height: 100px;
    text-align: center;
    font-size: 1.7vw;
}
#header a{
    margin:0 1vw;
}
#header a:hover{
	color:#8000ff;
}
#header a img{
    position:fixed;
    margin: 0 auto;
    top:0.4vw;
    left:0;
    right:0;
    width:9.0vw;
    border-radius: 4.5vw;
}
.header-left{
    margin-left:22.5vw;
    text-shadow: -0.1vw 0 black, 0 0.1vw black, 0.1vw 0 black, 0 -0.1vw black;
}
.header-right{
    margin-left: 8.5vw;
    text-shadow: -0.1vw 0 black, 0 0.1vw black, 0.1vw 0 black, 0 -0.1vw black;
}

/* BODY */
#bodyContainer{
    background-image: url("../img/background/background2.jpg");
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-position-y: top;
    z-index: -9999;
}
#body-ContentsBox{
    position: absolute;
    top: 10vw;
    right:10vw;
    left:50vw;
    background: rgba(89, 10, 109, 0.3);
    border: 1px dotted black;
    border-radius: 4vw;
}
.profileBox{
    margin:2vw 1vw;
}
.profileBox div{
    margin-top:1vw;
}
.profile-name p{
    font-size: 1.7vw;
    text-align: center;
    font-weight: 800;
    color: rgb(241, 206, 250);
}
.profile-age{
    display: flex;
    justify-content: center;
    padding-top: 1vw;
}
.profile-age p{
    margin:0 2vw;
    font-size: 1.1vw;
    color:rgb(250, 253, 224);
}
.profile-body{
    display: flex;
    justify-content: center;
}
.profile-body p{
    margin:0 2vw;
    font-size: 1.1vw;
    color:rgb(250, 253, 224);
}
.profile-des{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    width: 25vw;
    margin: 0 auto;
    align-items: center;
}
.profile-des-subject{
    text-align: center;
    font-size: 1.3vw;
    font-weight: 530;
    color: rgb(247, 194, 194);
}
.profile-des-contents{
    text-align: left;
    font-size: 1.1vw;
    color:rgb(250, 253, 224);
}
.d-day{
	display: flex;
    align-items: center;
}




/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
@media screen and (max-width:1023px) {
/* 타블렛 */
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* 모바일 */
@media screen and (max-width:767px) {
	
#header{
    display: block;
    font-size: 5vw;
    font-weight: 700;
    top: 0vw;
	background-color: rgb(203 203 203);
    padding: 4vw 0;
}
#header a {
    margin: 0 5vw;
}
.header-left {
	width:100%;
    margin-left: 0;
}
.header-right {
	width:100%;
    margin-left: 0;
}

#header a img {
    position: relative;
    margin: 1vw auto;
    width: 12vw;
    border-radius: 4.5vw;
}

/* 모바일 BODY */
#bodyContainer{
    background-image: url("../img/background/M-background2.jfif");
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-position-y: 2vw;
    background-repeat: no-repeat;
}
#body-ContentsBox {
	top: 36vw;
    left: 12vw;
    width: 77vw;
    border-radius: 6vw;
    background: rgb(160 32 193 / 30%);
}
.profile-name p {
    font-size: 5vw;
    color: rgb(186 93 210);
}
.profile-age p {
    font-size: 3.3vw;    
}
.profile-body p {
    font-size: 3.3vw;
}
.profileBox div {
    margin-top: 1vw;
    font-size: 3vw;
}
.profile-des{
	width: 60vw;
}
.profile-des-subject {
    color: rgb(255 215 215);
    
    
}
	
	
	