@font-face {
      src : url("../fonts/Cafe24Dongdong.ttf");
      font-family: "Dongdong"
}
@font-face {
      src : url("../fonts/Cafe24Behappy.ttf");
      font-family: "Behappy"
}
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

*{
    margin:0;
    padding:0;
    position: relative;
    font-family: ‘Behappy’, 'Dongdong', sans-serif;
    -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
html, body{
    width: 100%;
    height: 100%;
    position:fixed;
    overflow: hidden;
  }
body{
	background-color: white;
}

a {color: black; text-decoration: none; outline: none;}
div, p {color:white;}
a:hover, a:active {text-decoration: none; color:black;}

/* HEADER */
#header{
    position: fixed;
    top:3vw;
    display: flex;
    width:100%;
    height: 100px;
    text-align: center;
    font-size: 1.7vw;
    z-index: 1;
}
#header a{
    margin:0 1vw;
}
#header a:hover{
	color:#8000ff;
}
#header a img{
    position:fixed;
    margin: 0 auto;
    top:0.4vw;
    left:0;
    right:0;
    width:9.0vw;
    border-radius: 4.5vw;
}

 .header-left{
    margin-left:22.5vw;
    text-shadow: -0.1vw 0 white, 0 0.1vw white, 0.1vw 0 white, 0 -0.1vw white;
}
.header-right{
    margin-left: 8.5vw;
    text-shadow: -0.1vw 0 white, 0 0.1vw white, 0.1vw 0 white, 0 -0.1vw white;
} 

/* BODY */
#bodyContainer{
    background-image: url("../img/background/background5.jpg");
    min-height: 100%;
    background-size: cover;
    background-position-x: -3vw;
    background-repeat: no-repeat;
}

#container{
    position: relative;
    width: 45vw;
    min-height: 35vw;
    max-height: 45vw;
    top: 8vw;
    left: 55vw;
    display: flex;
    flex-wrap: wrap;
}
.contents{
    position: relative;
    width: 10vw;
    margin: 1vw 2vw;
    height: 10vw;
}

.contents__img{
    width:10vw;
    height:10vw;
}
.contents__img img{
    width:100%;
    border-radius: 6vw;
    border : 0.01vw solid rgb(223, 222, 222);
}
.contents__title{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate( -50%, -50% );
    display: none;
}
.contents .contents__title__back{
    position: absolute;
    top: 0px;
    width: 11vw;
    height: 11vw;
    transform: translate( -0.5vw, -4vw );
    background: radial-gradient(circle at 50% 0, rgba(255,0,0,.5), rgba(255,0,0,0) 70.71%)
    , radial-gradient(circle at 6.7% 75%, rgba(0,0,255,.5), rgba(0,0,255,0) 70.71%)
    , radial-gradient(circle at 93.3% 75%, rgba(0,255,0,.5), rgba(0,255,0,0) 70.71%) 
    beige;
    border-radius: 10vw;
    /* z-index: -1; */
}
.contents__title p{
    font-size: 1.5vw;
}



/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
@media screen and (max-width:1023px) {
/* 타블렛 */
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* 모바일 */
@media screen and (max-width:767px) {
	
/* 모바일 HEADER */
#header{
    display: block;
    font-size: 5vw;
    font-weight: 700;
    top: 0vw;
    background-color: #1b201e;
    padding: 5vw 0 1vw;
    color: black;
}
#header a {
    margin: 0 5vw;
    color: black;
}
.header-left {
	width:100%;
    margin-left: 0;
    text-shadow: -0.4vw 0 white, 0 0.4vw white, 0.4vw 0 white, 0 -0.4vw white;
}
.header-right {
	width:100%;
    margin-left: 0;
    text-shadow: -0.4vw 0 white, 0 0.4vw white, 0.4vw 0 white, 0 -0.4vw white;
}

#header a img {
    position: relative;
    margin: 1vw auto;
    width: 12vw;
    border-radius: 4.5vw;
}

/* 모바일 BODY */
body{
	background-color: #1b201e;
}
#bodyContainer{
    background-image: url("../img/background/M-background5.jfif");
    min-height: 100%;
    background-position: bottom;
    background-size: cover;
    background-position-y: 33vw;
}
#container {
    width: 100%;
    top: 33vw;
    left: 0;
    display: flex;
}
.contents{
	position: relative;
    width: 20vw;
    height: 20vw;
}
.contents--Left{
    margin: 1vw 27.5vw 8vw 2vw;
}
.contents--Right{
	margin: 1vw 2vw 8vw 27.5vw;
}
.contents__img {
    width: 19vw;
    height: 19vw;
}
.contents__img img {
    border-radius: 12vw;
}
.contents__title{
	position: absolute;
    top: 23vw;
	display:block;
}
.contents .contents__title__back {
    width: 19vw;
    height: 11vw;
    background: none;
}
.contents__title p{
    font-size: 3vw;
    text-shadow: 0.4vw 0.4vw black;
    font-weight: 700;
}


}	
	
	